<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div id="Content" class="container-full-bg">
        <div class="jumbotron vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
						<h1>Sistem Informasi Kepegawaian</h1>
							<h3>Selamat datang di Sistem Informasi Kepegawaian (SIPEG)</h3>
					</div>
					<hr>
		 			<div class="col-12 my-5">
                        <div class="card-column">
                            <div class="card mt-3">
                                <div class="card-body">
									<h2>Lihat Data Pegawai berdasarkan NIP</h2>
									<form th:action="@{/pegawai}" method="GET">
										<div class="form-group">
											<label for="nip">Masukkan Nomor Induk Pegawai:</label> <input
												type="text" name="nip" class="form-control" />
										</div>
							
							<button type="submit" class="btn btn-primary">Lihat</button>
						</form>
					</div>
				</div>
		

		<div class="card mt-3">
               <div class="card-body">
					<h2>Lihat Detail Jabatan</h2>
						<form th:action="@{/jabatan/view}" method="GET">
						 <div class="form-group">
						 	 <label for="jabatanInput">Pilih Jabatan</label>
							 <select class = "form-control custom-select" id="jabatanInput" name="idJabatan" required>
								<option disabled="disabled" selected="selected">--
									Pilih Jabatan --</option>
								<th:block th:each="jabatan : ${listJabatan}">
								<option th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</th:block>
							</select>
						</div>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</form>
					</div>
				</div>

		 		<div class="card mt-3">
                      <div class="card-body">
						<h2>Lihat Pegawai Termuda dan Tertua</h2>
					
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
						<div class="form-group">
							<label for="instansiInput">Pilih Instansi</label>
							<select class="form-control custom-select" id="instansinInput" name="idInstansi" required>
								<option disabled="disabled" selected="selected">--
									Pilih Instansi --</option>
								<th:block th:each="instansi : ${listInstansi}">
								<option 
									th:value="${instansi.id}"
									th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
								</th:block>
							</select>
						</div>
							
							<button type="submit" class="btn btn-primary">Lihat</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>

</html>